*{
    padding: 0px;
    margin: 0px; 
}
#firstimg{
    padding: 40px 20px 100px 0px;
    height: 500px;
    width: 600px;
    margin: 0px; 
    float: left; 
}
#secondimg{
    width: 60px;
    position: relative;
    top: 10px;
}
#heading{
    background-color: navy; 
    padding: 20px;
    font-family: 'Muli', sans-serif;
    color: white;
}
.quote{
    margin: 100px;
    font-size: 70px;
    direction: rtl;
    font-family: 'Muli', sans-serif;
}
.names{
    display: inline-block;
    margin: 30px;
    padding: 0px;
    font-size: 25px;
    text-indent: 30px;
}
.center {
    margin: 10px auto 20px;
    display: block;
}
a:hover{
    color: darkslategray;
    font-size: 18px;
}
.blink {
	-webkit-animation: blink 1.5s linear infinite;
	-moz-animation: blink 1.5s linear infinite;
	-ms-animation: blink 1.5s linear infinite;
	-o-animation: blink 1.5s linear infinite;
	 animation: blink 1.5s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}